
/*-------------------------------------------------------------------------------
  Emit events
-------------------------------------------------------------------------------*/
.dashboard-container .dashboard-body .emit-events .emit-itens-div{
  height: 77vh;

  display: grid;
}

/*Light Signal*/
.dashboard-container .dashboard-body .emit-events .light-signal-div{
  height: 100%;

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-bottom: 2px solid #41414d;
}

.dashboard-container .dashboard-body .emit-events .light-signal-div .light-signal-options{
  display: flex;
  justify-content: space-evenly;
}

.dashboard-container .dashboard-body .emit-events .light-signal-div .light-signal-option{
  width: 30%;

  margin-top: 5px;
  
  display: flex;
  flex-direction: column;
}

.dashboard-container .dashboard-body .emit-events .light-signal-div .light-signal-option select{
  margin-top: 5px;

  border: 1px solid #41414d;
  border-radius: 8px;
}

/*Sound Signal*/
.dashboard-container .dashboard-body .emit-events .sound-signal-div{
  height: 100%;

  text-align: center;
  border-bottom: 2px solid #41414d;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboard-container .dashboard-body .emit-events .sound-signal-div .sound-signal-option{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.dashboard-container .dashboard-body .emit-events .sound-signal-div .sound-signal-option select{
  width: 50%;
  margin-top: 5px;
  
  border: 1px solid #41414d;
  border-radius: 8px;
}


/*Message*/
.dashboard-container .dashboard-body .emit-events .message-div{
  height: 100%;

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-bottom: 2px solid #41414d;
}

.dashboard-container .dashboard-body .emit-events .message-div input{
  width: 90%;
  height: 15vh;
  margin: 10px auto;

  text-align: center;
  
  border: 1px solid #41414d;
  border-radius: 8px;
}

/*Send*/
.dashboard-container .dashboard-body .emit-events .button{
  width: 90%;
  margin: 0 5%;

  position: absolute;
  bottom: 5vh;

  margin-bottom: 15px;
}

/*Status*/
.dashboard-container .dashboard-body .emit-events .status-div{
  width: 100%;
  height: 4.5vh;

  border-top: 2px solid #41414d;

  display: flex;
  align-items: center;
  justify-content: space-around;

  position: absolute;
  bottom: 0;
}