/*-------------------------------------------------------------------------------
  Container
-------------------------------------------------------------------------------*/
.history-container {
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  margin: auto auto;

  display: flex;
  flex-direction: column;
}

.history-container .history-body img{
  margin-top: 6vh;
  width: 100%;
}