/*-------------------------------------------------------------------------------
  Container
-------------------------------------------------------------------------------*/
.history-container {
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  max-height: 1080px;
  margin: auto auto;

  background-color: #f0f0f5;

  display: flex;
  flex-direction: column;
}

.history-container .history-body img{
  margin-top: 6vh;
  width: 100%;
}